<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hikari.project.system.mapper.SysPostMapper">
  <resultMap id="BaseResultMap" type="com.hikari.project.system.entity.SysPost">
    <!--@mbg.generated-->
    <!--@Table spring_cloud.sys_post-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_staff_id" jdbcType="VARCHAR" property="createStaffId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_staff_id" jdbcType="VARCHAR" property="updateStaffId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <association property="createStaff" javaType="com.hikari.project.system.entity.SysStaff" column="create_staff_id" select="com.hikari.project.system.mapper.SysStaffMapper.selectByPrimaryKey" />
    <association property="updateStaff" javaType="com.hikari.project.system.entity.SysStaff" column="update_staff_id" select="com.hikari.project.system.mapper.SysStaffMapper.selectByPrimaryKey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, `name`, sort, `status`, create_staff_id, create_time, update_staff_id, 
    update_time, remark
  </sql>
  <sql id="Base_Column_List_Rename">
    select sp.id, sp.code, sp.name, sp.sort, sp.status, sp.create_staff_id, sp.create_time, sp.update_staff_id, sp.update_time, sp.remark
    from sys_post sp
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from spring_cloud.sys_post
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from spring_cloud.sys_post
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hikari.project.system.entity.SysPost">
    <!--@mbg.generated-->
    insert into spring_cloud.sys_post (id, code, `name`, 
      sort, `status`, create_staff_id, 
      create_time, update_staff_id, update_time, 
      remark)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createStaffId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateStaffId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hikari.project.system.entity.SysPost">
    <!--@mbg.generated-->
    update spring_cloud.sys_post
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createStaffId != null">
        create_staff_id = #{createStaffId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaffId != null">
        update_staff_id = #{updateStaffId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update spring_cloud.sys_post
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.code != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.code,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.name != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.name,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="sort = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.sort != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.sort,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.status,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_staff_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createStaffId != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.createStaffId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_staff_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateStaffId != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.updateStaffId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.remark != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.remark,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into spring_cloud.sys_post
    (id, code, `name`, sort, `status`, create_staff_id, create_time, update_staff_id, 
      update_time, remark)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.code,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, 
        #{item.sort,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER}, #{item.createStaffId,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateStaffId,jdbcType=VARCHAR}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.remark,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from spring_cloud.sys_post
    <where>
      <if test="code != null and code != ''">
        and code like concat('%', #{code,jdbcType=VARCHAR}, '%')
      </if>
      <if test="name != null and name != ''">
        and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="remark != null and remark != ''">
        and remark like concat('%', #{remark,jdbcType=VARCHAR}, '%')
      </if>
    </where>
    order by sort, create_time desc
  </select>

  <select id="checkStaffPost" resultType="int">
    select count(1)
    from spring_cloud.sys_staff_post
    where post_id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectNotList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from spring_cloud.sys_post
    <where>
      <if test="code != null and code != ''">
        and code like concat('%', #{code,jdbcType=VARCHAR}, '%')
      </if>
      <if test="name != null and name != ''">
        and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="remark != null and remark != ''">
        and remark like concat('%', #{remark,jdbcType=VARCHAR}, '%')
      </if>
      and id != #{id,jdbcType=VARCHAR}
    </where>
  </select>

  <select id="selectListByStaffId" resultMap="BaseResultMap">
    <include refid="Base_Column_List_Rename" />
    left join sys_staff_post ssp on sp.id = ssp.post_id
    where ssp.staff_id = #{staffId,jdbcType=VARCHAR}
  </select>
</mapper>