<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hikari.project.system.mapper.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.hikari.project.system.entity.SysRoleMenu">
    <!--@mbg.generated-->
    <!--@Table spring_cloud.sys_role_menu-->
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_id, menu_id
  </sql>
  <insert id="insert" parameterType="com.hikari.project.system.entity.SysRoleMenu">
    <!--@mbg.generated-->
    insert into spring_cloud.sys_role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR})
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into spring_cloud.sys_role_menu
    (role_id, menu_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.roleId,jdbcType=VARCHAR}, #{item.menuId,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>