<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hikari.system.pixivel.mapper.PixUserCollectMapper">
  <resultMap id="BaseResultMap" type="com.hikari.system.pixivel.entity.PixUserCollect">
    <!--@mbg.generated-->
    <!--@Table spring_cloud.pix_user_collect-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="pix_user_id" jdbcType="VARCHAR" property="pixUserId" />
    <result column="picture_collection_id" jdbcType="VARCHAR" property="pictureCollectionId" />
    <result column="collect_tag" jdbcType="VARCHAR" property="collectTag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, pix_user_id, picture_collection_id, collect_tag, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from spring_cloud.pix_user_collect
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from spring_cloud.pix_user_collect
    join spring_cloud.pix_picture_collection ppc on pix_user_collect.picture_collection_id = ppc.id
    <where>
      <if test="title != null and title != ''">
        and ppc.title like concat('%',#{title,jdbcType=VARCHAR},'%')
      </if>
      <if test="collectTag != null and collectTag != ''">
        and collect_tag like concat('%',#{collectTag,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
  <select id="selectTag" resultType="java.lang.String">
    select collect_tag
    from spring_cloud.pix_user_collect
    where pix_user_id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from spring_cloud.pix_user_collect
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hikari.system.pixivel.entity.PixUserCollect">
    <!--@mbg.generated-->
    insert into spring_cloud.pix_user_collect (id, pix_user_id, picture_collection_id, 
      collect_tag, create_time)
    values (#{id,jdbcType=VARCHAR}, #{pixUserId,jdbcType=VARCHAR}, #{pictureCollectionId,jdbcType=VARCHAR}, 
      #{collectTag,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hikari.system.pixivel.entity.PixUserCollect">
    <!--@mbg.generated-->
    update spring_cloud.pix_user_collect
    <set>
      <if test="pixUserId != null">
        pix_user_id = #{pixUserId,jdbcType=VARCHAR},
      </if>
      <if test="pictureCollectionId != null">
        picture_collection_id = #{pictureCollectionId,jdbcType=VARCHAR},
      </if>
      <if test="collectTag != null">
        collect_tag = #{collectTag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update spring_cloud.pix_user_collect
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="pix_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.pixUserId != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.pixUserId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="picture_collection_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.pictureCollectionId != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.pictureCollectionId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="collect_tag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.collectTag != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.collectTag,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <update id="updateTagBatch">
    update spring_cloud.pix_user_collect
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="pix_user_id = case" suffix="end,">
        <foreach collection="pixUserCollect.collectIds" index="index" item="item">
          <if test="pixUserCollect.collectTag != null and pixUserCollect.collectIds != ''">
            when id = #{item,jdbcType=VARCHAR} then concat(collect_tag,',',#{pixUserCollect.collectTag,jdbcType=VARCHAR})
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="pixUserCollect.collectIds" item="item" open="(" separator=", ">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into spring_cloud.pix_user_collect
    (id, pix_user_id, picture_collection_id, collect_tag, create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.pixUserId,jdbcType=VARCHAR}, #{item.pictureCollectionId,jdbcType=VARCHAR}, 
        #{item.collectTag,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>