<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hikari.project.pixivel.mapper.PixUserPrimaryMapper">
  <resultMap id="BaseResultMap" type="com.hikari.project.pixivel.entity.PixUserPrimary">
    <!--@mbg.generated-->
    <!--@Table spring_cloud.pix_user_primary-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="primary" jdbcType="INTEGER" property="primary" />
    <result column="pix_user_id" jdbcType="VARCHAR" property="pixUserId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <association property="pixUser" javaType="com.hikari.project.pixivel.entity.PixUser" column="pix_user_id" select="com.hikari.project.pixivel.mapper.PixUserMapper.selectByPrimaryKey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `primary`, pix_user_id, start_time, end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from spring_cloud.pix_user_primary
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from spring_cloud.pix_user_primary
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hikari.project.pixivel.entity.PixUserPrimary">
    <!--@mbg.generated-->
    insert into spring_cloud.pix_user_primary (id, `primary`, pix_user_id, 
      start_time, end_time)
    values (#{id,jdbcType=VARCHAR}, #{primary,jdbcType=INTEGER}, #{pixUserId,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hikari.project.pixivel.entity.PixUserPrimary">
    <!--@mbg.generated-->
    update spring_cloud.pix_user_primary
    <set>
      <if test="primary != null">
        `primary` = #{primary,jdbcType=INTEGER},
      </if>
      <if test="pixUserId != null">
        pix_user_id = #{pixUserId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update spring_cloud.pix_user_primary
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`primary` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.primary != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.primary,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="pix_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.pixUserId != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.pixUserId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="start_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.startTime != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.startTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="end_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.endTime != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.endTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into spring_cloud.pix_user_primary
    (id, `primary`, pix_user_id, start_time, end_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.primary,jdbcType=INTEGER}, #{item.pixUserId,jdbcType=VARCHAR}, 
        #{item.startTime,jdbcType=TIMESTAMP}, #{item.endTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>